<body style="background-image: url(../assets/images/sfondo.jpg);">

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NetFilmix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/films/add">Aggiungi film </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-left">
        <li>
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" [(ngModel)]="text">
        </li>

        <li>
          <button class="btn btn-outline-success my-2 my-sm-0" style="margin-left: 20px;" type="submit">Search</button>
        </li>
      </ul>

    </div>
  </nav>






  <div class="container">
    <div class="row row-cols-2 row-cols-md-4" style="margin-top: 20px;">
      <div *ngFor="let film of films|filmListFilter:text">
        <div class="col mb-5">
          <div class="card text-white bg-dark mb-3" style="width: 16rem;">
            <img [src]="film.coverUrl" class="card-img-top" alt="cover film">
            <div class="card-body">
              <h5 class="card-title">{{film.title}}</h5>
              <div class="card-text">

                <div class="espandi">
                  <b *ngIf="userService.loggedUser" (click)="hearth(film)">&#x2661;</b><b>Valutazione:
                    {{film.stars}}</b>
                  <app-stars (voteChanged)="setVote(film, $event)" [vote]="film.stars"></app-stars>
                  <b>Durata: </b>{{film.duration}}
                  <button (click)="film.show = !film.show" class="btn btn-outline-info btn-sm">Espandi</button>
                </div>

                <div *ngIf="film.show">
                  <b>Attori: </b>
                  <p *ngIf="!film.cast.length">-</p>
                  <p *ngIf="film.cast.length">
                    <ng-container *ngFor="let actor of film.cast; let isLast = last">
                      {{ actor.firstname + ' ' + actor.lastname + (isLast ? '' : ', ') }}
                    </ng-container>
                  </p>

                  <b>Anno di uscita: </b>{{film.releaseYear}} <b>Generi: </b>
                  {{getGenreList(film.genres)}} <b>Tag:</b> {{film.tags}}
                </div>
              </div>
            </div>

          </div>
          <div class="text-center">
            <button (click)='selectThisFilm(film)' routerLink="/films/edit/{{ film.id}}"
              class="btn btn-outline-primary btn-sm">Modifica film</button>
            <div class="divider"></div>
            <button (click)='remove(film)' class="btn btn-outline-danger btn-sm">Rimuovi film</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>