
.navbar-brand img{
    height: 60px;
    padding-left: 30px;
} 


.LogIn{
    margin-top: 10%;
    margin-bottom: 6%;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 300%;
}



.titolo{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
}



 hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


.container{
    margin-top: 20px¬;
}