<body style="background-image: url(../assets/images/sfondo.jpg);">


  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">NetFilmix</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/films">Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/actors">Attori</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/genres">Generi</a>
        </li>
      </ul>

    </div>
  </nav>





<div class="container" style="margin-top: 20px;">
  <div *ngIf="!service.loggedUser">
<div class="form-row">
    <div class="form-group col-md-6">
      <label for="exampleInputEmail1" style="color: white;">Email address</label>
      <input type="text" class="form-control" [(ngModel)]="username" placeholder="Username">
    </div>
    <div class="form-group col-md-6">
      <label for="exampleInputPassword1" style="color: white;">Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" placeholder="Password">
    </div>
  </div>
    <div *ngIf="successLogin === false" class="scritta">
      <b style="color: white;">Errore nel login!</b>
    </div>
    <button type="submit" class="btn btn-secondary" (click)="login()" style="color: white;">Login</button>
</div>
</div>



<div class="container">
<div *ngIf="service.loggedUser" >
   <div class="scrittaLogIn">
     <b>BENTORNATO</b> 
    {{ service.loggedUser.firstname }} {{ service.loggedUser.lastname }}!
    <div class="text-center">
     <button type="button" class="btn btn-secondary btn-lg"  (click)="service.logout()" style="color: white;">LogOut</button>
     </div>
   </div> 
</div>
</div>




<div class="container">
  <h5 class="filmIns">ULTIMI FILM INSERITI</h5>
  <div class="row row-cols-2 row-cols-md-4" style="margin-top: 20px;">
    <div *ngFor="let film of lastFilm" style="width: 18rem;" > 
      <div class="col mb-5">
        <div class="card text-white bg-dark mb-3" style="width: 16rem;">
          <img [src]="film.coverUrl" class="card-img-top" alt="cover film">
          <div class="card-body">
            <h5 class="card-title">{{film.title}}</h5>
            <div class="card-text">

              <div class="espandi">
                <b>&#x2661;</b><b>Valutazione: {{film.stars}}</b>
                <app-stars [vote]="film.stars"></app-stars>
                <b>Durata: </b>{{film.duration}}
                <button (click)="film.show = !film.show" class="btn btn-outline-info btn-sm">Espandi</button>
              </div>

              <div *ngIf="film.show">
                <b>Attori: </b>
                <p *ngIf="!film.cast.length">-</p>
                <p *ngIf="film.cast.length">
                  <ng-container *ngFor="let actor of film.cast; let isLast = last">
                    {{ actor.firstname + ' ' + actor.lastname + (isLast ? '' : ', ') }}
                  </ng-container>
                </p>

                <b>Anno di uscita: </b>{{film.releaseYear}} <b>Tag:</b> {{film.tags}}
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>




<hr>




<div class="container">
  <h5 class="filmIns">TOP 3 FILM</h5>
  <div class="row row-cols-2 row-cols-md-4" style="margin-top: 20px;">
    <div *ngFor="let film of topFilm" style="width: 18rem;" > 
      <div class="col mb-5">
        <div class="card text-white bg-dark mb-3" style="width: 16rem;">
          <img [src]="film.coverUrl" class="card-img-top" alt="cover film">
          <div class="card-body">
            <h5 class="card-title">{{film.title}}</h5>
            <div class="card-text">

              <div class="espandi">
                <b>&#x2661;</b><b>Valutazione: {{film.stars}}</b>
                <app-stars [vote]="film.stars"></app-stars>
                <b>Durata: </b>{{film.duration}}
                <button (click)="film.show = !film.show" class="btn btn-outline-info btn-sm">Espandi</button>
              </div>

              <div *ngIf="film.show">
                <b>Attori: </b>
                <p *ngIf="!film.cast.length">-</p>
                <p *ngIf="film.cast.length">
                  <ng-container *ngFor="let actor of film.cast; let isLast = last">
                    {{ actor.firstname + ' ' + actor.lastname + (isLast ? '' : ', ') }}
                  </ng-container>
                </p>

                <b>Anno di uscita: </b>{{film.releaseYear}} <b>Tag:</b> {{film.tags}}
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
</body>






