a:link, a:visited {
    text-decoration: none;
    color: #F58529;
    background-color: transparent;
}
a:hover, a:active {
    text-decoration: underline;
    color: rgb(92, 26, 26);
}


    .scrittaLogIn{
        margin-top: 10%;
        margin-bottom: 6%;
        text-align: center;
        font-weight: bold;
        color: white;
        font-size: 300%;
    }



    .filmIns{
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
    }


    hr { display: block; height: 1px;
        border: 0; border-top: 1px solid #ccc;
        margin: 1em 0; padding: 0; }



        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
        }